.page {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.link {
    text-decoration: none;    
    color: currentColor;
}

.contacts {
    font-style: normal;
}

.list {
    list-style-type: none;
}

/* Logo font */
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

/* Header 1 font */
.page-header {
    font-weight: 700;
    size: 56px;
    line-height: 1.071;
    letter-spacing: 1.12px;
}

/* Header 2 font */
.section-header {
    font-weight: 700;
    size: 36px;
    letter-spacing: 0.72px;
    color: #2E2F42;
}

/* Header 3 font */
.element-header {
    font-weight: 500;
    size: 20px;
    letter-spacing: 0.4px;
    color: #2E2F42;
}

/* Button font */
.button {
    font-weight: 500;
    size: 16px;
    line-height: 1.5;
    letter-spacing: 0.64px;
}


/* Header styles */

.header .logo .accent {
    color: #2E2F42
}

.header .list .link:hover,
.header .list .link:focus {
    color: #404BBF;
}

.navigation {
    font-weight: 500;
    color: #2E2F42;
}

/* Main block styles */
.title-section {
    background-color: #2E2F42;
    color: #ffffff
}

.title-section .button {
    background-color: #4D5AE5;
    color: currentColor;
    cursor: pointer;
}

.order-button:hover,
.order-button:focus {
    background-color: #404BBF;
}

.team-section {
    background-color: #F4F4FD;
}

/* Footer styles */
.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}

.footer .logo .accent {
    color: #F4F4FD
}

